{% extends 'base.html' %}
{% load static %}




{% block titre %}

    ABOUT US

{% endblock %}



{% block content %}








    
    <section class="section mt-6">


        <div class="container mt-5">

            <div class="columns">


                <div class="column">

                    <h1 class="has-text-weight-semibold is-size-4 has-text-danger">A propos de nous</h1>


                    <p class="has-text-justified mb-5">

                        Nous sommes la société <strong>HOTEL PIN</strong> BOS Sarlu en sigle, du droit congolais enregistrée au Registre du Commerce et du Crédit Mobilier n° CD/KNG/RCCM/24-B-00649, à Identification Nationale : 01-H5300-N54545W, et au n°Impôt A2404882J. Notre siège social est à Kinshasa/République Démocratique du Congo et avons comme domaine d’expertise l’organisation des formations professionnelles,conférences et renforcement des capacités dans plusieurs domaines avec une équipe des spécialistes nationaux et internationaux.

                    </p>


                    <h3 class="has-text-justified has-text-weight-medium is-size-4">
                        Notre Vision
                    </h3>

                    <p class="has-text-justified mb-2">
                        Bâtir des business, des carrières, 
                        des Sociétés et des Etats avec 
                        et sur des compétences.
                    </p>




                    

                    <h3 class="has-text-justified has-text-weight-medium is-size-4">
                        Nos Missions
                    </h3>

                    <p class="has-text-justified mb-5">
                        1. Valoriser les compétences pour la réussite de l'homme dans tous les doma; <br>
                        2. Valoriser les compétences pour la réussite de l'homme dans tous les doma;
                    </p>


                    <h3 class="has-text-justified has-text-weight-medium is-size-4">
                        Principes de management :
                    </h3>

                    <p>
                        <span class="has-text-weight-medium is-size-5">.</span> Servir jusqu'à la satisfaction du client;<br>
                        <span class="has-text-weight-medium is-size-5">.</span> Professionnalisme dans le traitement de tous les dossiers;<br>
                        <span class="has-text-weight-medium is-size-5">.</span> Le traitement de tous les dossiers est fait en ayant à l'esprit la notion del'inver <br>
                        <span class="has-text-weight-medium is-size-5">.</span> Les compétences sont la clé de notre réussite.
                    </p>

                    <p class="has-text-danger">
                        Pour toute autre information appelez au : <br>
                        +243 82 74 0023
                    </p>
                    
                </div>






                <div class="column ">
                    <img src="{% static 'gestionhotel/img/logo.jpg' %}" alt="" class="bordure">
                  
                </div>

            </div>


        </div>

    </section>

















{% endblock %}