{% extends 'base.html' %}
{% load static %}




{% block titre %}

    ALBUM

{% endblock %}



{% block content %}





        
    <section class="section">


        <div class="container mt-6">



            <nav class="tabs is-left is-boxed is-toggle-rounded ">

                <ul>
                    <li>
                        <a href="{% url 'gestionhotel:album_one' %}" class="has-text-weight-medium has-text-success">CHAMBRE ONE</a>
                    </li>
                    <li>
                        <a href="{% url 'gestionhotel:album_deux' %}" class="has-text-weight-medium has-text-success">CHAMBRE TWO</a>
                    </li>
    
                </ul>

            </nav>




            <div class="columns">



                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            
                            <img src="{% static 'gestionhotel/img/maison3.jpg' %}" alt="">

                            
                        </div>
        
                        <div class="card-content">
                            <div class="media">
                                <span>Janvier 10/102024</span>
                            </div>
        
                            <div class="content">
                                <p class="has-text-weight-medium">10 Foods To Avoid For Your <br> Heart Health</p>
                                <p>A, obcaecati sequi,deserunt nam possimus deserunt nam possimus </p>
                            </div>

                            <a href="" class="button is-success is-medium">
                                <i class="fas fa-plus has-text-white"></i>
                            </a>
                        </div>
                    </div>
                </div>




                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'gestionhotel/img/maison3.jpg' %}" alt="">
                            
                        </div>
        
                        <div class="card-content">
                            <div class="media">
                                <span>Janvier 10/102024</span>
                            </div>
        
                            <div class="content">
                                <p class="has-text-weight-medium">10 Foods To Avoid For Your <br> Heart Health</p>
                                <p>A, obcaecati sequi,deserunt nam possimus deserunt nam possimus </p>
                            </div>

                            <a href="" class="button is-success is-medium">
                                <i class="fas fa-plus has-text-white"></i>
                            </a>
                        </div>
                    </div>
                </div>



                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'gestionhotel/img/maison3.jpg' %}" alt="">
                            
                        </div>
        
                        <div class="card-content">
                            <div class="media">
                                <span>Janvier 10/102024</span>
                            </div>
        
                            <div class="content">
                                <p class="has-text-weight-medium">10 Foods To Avoid For Your <br> Heart Health</p>
                                <p>A, obcaecati sequi,deserunt nam possimus deserunt nam possimus </p>
                            </div>

                            <a href="" class="button is-success is-medium">
                                <i class="fas fa-plus has-text-white"></i>
                            </a>
                        </div>
                    </div>
                </div>




                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'gestionhotel/img/maison3.jpg' %}" alt="">
                            
                        </div>
        
                        <div class="card-content">
                            <div class="media">
                                <span>Janvier 10/102024</span>
                            </div>
        
                            <div class="content">
                                <p class="has-text-weight-medium">10 Foods To Avoid For Your <br> Heart Health</p>
                                <p>A, obcaecati sequi,deserunt nam possimus deserunt nam possimus </p>
                            </div>

                            <a href="" class="button is-success is-medium">
                                <i class="fas fa-plus has-text-white"></i>
                            </a>
                        </div>
                    </div>
                </div>






            </div>





            <div class="columns">



                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'gestionhotel/img/maison3.jpg' %}" alt="">
                            
                        </div>
        
                        <div class="card-content">
                            <div class="media">
                                <span>Janvier 10/102024</span>
                            </div>
        
                            <div class="content">
                                <p class="has-text-weight-medium">10 Foods To Avoid For Your <br> Heart Health</p>
                                <p>A, obcaecati sequi,deserunt nam possimus deserunt nam possimus </p>
                            </div>

                            <a href="" class="button is-success is-medium">
                                <i class="fas fa-plus has-text-white"></i>
                            </a>
                        </div>
                    </div>
                </div>




                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'gestionhotel/img/maison3.jpg' %}" alt="">
                            
                        </div>
        
                        <div class="card-content">
                            <div class="media">
                                <span>Janvier 10/102024</span>
                            </div>
        
                            <div class="content">
                                <p class="has-text-weight-medium">10 Foods To Avoid For Your <br> Heart Health</p>
                                <p>A, obcaecati sequi,deserunt nam possimus deserunt nam possimus </p>
                            </div>

                            <a href="" class="button is-success is-medium">
                                <i class="fas fa-plus has-text-white"></i>
                            </a>
                        </div>
                    </div>
                </div>



                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'gestionhotel/img/maison3.jpg' %}" alt="">
                            
                        </div>
        
                        <div class="card-content">
                            <div class="media">
                                <span>Janvier 10/102024</span>
                            </div>
        
                            <div class="content">
                                <p class="has-text-weight-medium">10 Foods To Avoid For Your <br> Heart Health</p>
                                <p>A, obcaecati sequi,deserunt nam possimus deserunt nam possimus </p>
                            </div>

                            <a href="" class="button is-success is-medium">
                                <i class="fas fa-plus has-text-white"></i>
                            </a>
                        </div>
                    </div>
                </div>




                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'gestionhotel/img/maison3.jpg' %}" alt="">
                            
                        </div>
        
                        <div class="card-content">
                            <div class="media">
                                <span>Janvier 10/102024</span>
                            </div>
        
                            <div class="content">
                                <p class="has-text-weight-medium">10 Foods To Avoid For Your <br> Heart Health</p>
                                <p>A, obcaecati sequi,deserunt nam possimus deserunt nam possimus </p>
                            </div>

                            <a href="" class="button is-success is-medium">
                                <i class="fas fa-plus has-text-white"></i>
                            </a>
                        </div>
                    </div>
                </div>






            </div>





        </div>



    </section>


















    <section class="section ">


        <div class="container">


            <div class="pagination is-centered ">


                


                <ul class="pagination-list">

                    <li>
                        <a href="{% url 'gestionhotel:album_one' %}" class="pagination-link has-text-success ">
                            1
                        </a>
                    </li>
    
    
                    <li>
                        <a href="{% url 'gestionhotel:album_deux' %}" class="pagination-link has-text-success">
                            2
                        </a>
                    </li>
                    <li>
                        <a href="" class="pagination-link has-text-success">
                            ....
                        </a>
                    </li>

                </ul>



            </div>



        </div>



    </section>














{% endblock %}