{% extends 'base.html' %}
{% load static %}




{% block titre %}

    ALBUM

{% endblock %}



{% block content %}



    

<section class="section">


    <div class="container mt-6">



        <nav class="tabs is-left is-boxed is-toggle-rounded ">

            <ul>
                <li>
                    <a href="{% url 'gestionhotel:album_one' %}" class="has-text-weight-medium has-text-success">CHAMBRE ONE</a>
                </li>
                <li>
                    <a href="{% url 'gestionhotel:album_deux' %}" class="has-text-weight-medium has-text-success">CHAMBRE TWO</a>
                </li>
             
            </ul>

        </nav>
    
    </div>
</section>













<section class="section mt-5">
    <div class="container">

        <h1 class="has-text-left has-text-weight-semibold is-size-3 mb-3 has-text-success">VIP BADROOM</h1>
        
        <div class="grid">
            <div class="cell">
                <img src="{% static 'gestionhotel/img/malik.webp' %}" alt="">
            </div>
            <div class="cell  has-text-black-ter">
                <h2 class="mb-2 has-text-weight-semibold is-size-5">Espace de vie Categorie vip</h2>
                <p class="mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis totam vero.</p>


                <div class="">
                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon">
                            <i class="fab fa-facebook-f has-text-white"></i>
                        </div>
                    </button>
                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon ">
                            <i class="fab fa-instagram has-text-white"></i>
                        </div>
                    </button>

                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon ">
                            <i class="fas fa-plus has-text-white"></i>
                        </div>
                    </button>
                </div>

            </div>



            <div class="cell">
                <img src="{% static 'gestionhotel/img/malik.webp' %}" alt="" class="taille">
            </div>
            <div class="cell  has-text-black-ter">
                <h2 class="mb-2 has-text-weight-semibold is-size-5">Espace de vie Categorie vip</h2>
                <p class="mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis totam vero.</p>


                <div class="">
                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon">
                            <i class="fab fa-facebook-f has-text-white"></i>
                        </div>
                    </button>
                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon ">
                            <i class="fab fa-instagram has-text-white"></i>
                        </div>
                    </button>

                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon ">
                            <i class="fas fa-plus has-text-white"></i>
                        </div>
                    </button>
                </div>

            </div>

        </div>






        


        <div class="grid">
            <div class="cell">
                <img src="{% static 'gestionhotel/img/malik.webp' %}"  alt="" class="taille">
            </div>
            <div class="cell  has-text-black-ter">
                <h2 class="mb-2 has-text-weight-semibold is-size-5">Espace de vie Categorie vip</h2>
                <p class="mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis totam vero.</p>


                <div class="">
                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon">
                            <i class="fab fa-facebook-f has-text-white"></i>
                        </div>
                    </button>
                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon ">
                            <i class="fab fa-instagram has-text-white"></i>
                        </div>
                    </button>

                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon ">
                            <i class="fas fa-plus has-text-white"></i>
                        </div>
                    </button>
                </div>

            </div>



            <div class="cell">
                <img src="{% static 'gestionhotel/img/malik.webp' %}"  alt="" class="taille">
            </div>
            <div class="cell  has-text-black-ter">
                <h2 class="mb-2 has-text-weight-semibold is-size-5">Espace de vie Categorie vip</h2>
                <p class="mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis totam vero.</p>


                <div class="">
                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon">
                            <i class="fab fa-facebook-f has-text-white"></i>
                        </div>
                    </button>
                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon ">
                            <i class="fab fa-instagram has-text-white"></i>
                        </div>
                    </button>

                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon ">
                            <i class="fas fa-plus has-text-white"></i>
                        </div>
                    </button>
                </div>

            </div>

        </div>




    </div>
</section>



<section class="section">
    <div class="container">


        
        <div class="grid">
            <div class="cell">
                <img src="{% static 'gestionhotel/img/malik.webp' %}"  alt="" class="taille">
            </div>
            <div class="cell  has-text-black-ter">
                <h2 class="mb-2 has-text-weight-semibold is-size-5">Espace de vie Categorie vip</h2>
                <p class="mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis totam vero.</p>


                <div class="">
                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon">
                            <i class="fab fa-facebook-f has-text-white"></i>
                        </div>
                    </button>
                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon ">
                            <i class="fab fa-instagram has-text-white"></i>
                        </div>
                    </button>

                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon ">
                            <i class="fas fa-plus has-text-white"></i>
                        </div>
                    </button>
                </div>

            </div>



            <div class="cell">
                <img src="{% static 'gestionhotel/img/malik.webp' %}"  alt="" class="taille">
            </div>
            <div class="cell  has-text-black-ter">
                <h2 class="mb-2 has-text-weight-semibold is-size-5">Espace de vie Categorie vip</h2>
                <p class="mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis totam vero.</p>


                <div class="">
                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon">
                            <i class="fab fa-facebook-f has-text-white"></i>
                        </div>
                    </button>
                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon ">
                            <i class="fab fa-instagram has-text-white"></i>
                        </div>
                    </button>

                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon ">
                            <i class="fas fa-plus has-text-white"></i>
                        </div>
                    </button>
                </div>

            </div>

        </div>






        


        <div class="grid">
            <div class="cell">
                <img src="{% static 'gestionhotel/img/malik.webp' %}"  alt="" class="taille">
            </div>
            <div class="cell  has-text-black-ter">
                <h2 class="mb-2 has-text-weight-semibold is-size-5">Espace de vie Categorie vip</h2>
                <p class="mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis totam vero.</p>


                <div class="">
                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon">
                            <i class="fab fa-facebook-f has-text-white"></i>
                        </div>
                    </button>
                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon ">
                            <i class="fab fa-instagram has-text-white"></i>
                        </div>
                    </button>

                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon ">
                            <i class="fas fa-plus has-text-white"></i>
                        </div>
                    </button>
                </div>

            </div>



            <div class="cell">
                <img src="{% static 'gestionhotel/img/malik.webp' %}"  alt="" class="taille">
            </div>
            <div class="cell  has-text-black-ter">
                <h2 class="mb-2 has-text-weight-semibold is-size-5">Espace de vie Categorie vip</h2>
                <p class="mb-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis totam vero.</p>


                <div class="">
                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon">
                            <i class="fab fa-facebook-f has-text-white"></i>
                        </div>
                    </button>
                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon ">
                            <i class="fab fa-instagram has-text-white"></i>
                        </div>
                    </button>

                    <button class="button  is-outline  is-toggle-rounded is-success is-small">
                        <div class="icon ">
                            <i class="fas fa-plus has-text-white"></i>
                        </div>
                    </button>
                </div>

            </div>

        </div>




    </div>
</section>

<div class="pagination is-centered ">


                


    <ul class="pagination-list">

        <li>
            <a href="{% url 'gestionhotel:album_one' %}" class="pagination-link has-text-success ">
                1
            </a>
        </li>


        <li>
            <a href="{% url 'gestionhotel:album_deux' %}" class="pagination-link has-text-success">
                2
            </a>
        </li>
        <li>
            <a href="" class="pagination-link has-text-success">
                ....
            </a>
        </li>

    </ul>



</div>

{% endblock %}