
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>




    <footer class="footer has-background-grey-darker mb-0 has-text-centered ">
        <div class="section">
            
            <div class="container grid">
                <div class="cell">

                    <div class="content">
                        <h5 class="has-text-success has-text-weight-medium">Unbrew</h2>
                        <p>
                            A small river named Duden flows by <br>
                            their place and supplies it with the <br> 
                            necessary regellalia
                        </p>

                        <div>
                            <button class="button  is-outline  is-toggle-rounded is-success">
                                <div class="icon has-icons-left">
                                    <i class="fab fa-twitter has-text-white"></i>
                                </div>
                            </button>
                            <button class="button  is-outline  is-toggle-rounded is-success">
                                <div class="icon">
                                    <i class="fab fa-facebook-f has-text-white"></i>
                                </div>
                            </button>
                            <button class="button  is-outline  is-toggle-rounded is-success">
                                <div class="icon">
                                    <i class="fab fa-instagram has-text-white"></i>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>



            

                <div class="cell">

                    <div class="content">
                        <h5 class="has-text-success has-text-weight-medium">Adresse Us</h2>
                        <p>
                            A small river named Duden flows by <br>
                            their place and supplies it with the <br> 
                            necessary regellalia
                        </p>

                        <div>
                            <button class="button  is-outline  is-toggle-rounded is-success">
                                <div class="icon has-icons-left">
                                    <i class="fab fa-twitter has-text-white"></i>
                                </div>
                            </button>
                            <button class="button  is-outline  is-toggle-rounded is-success">
                                <div class="icon">
                                    <i class="fab fa-facebook-f has-text-white"></i>
                                </div>
                            </button>
                            <button class="button  is-outline  is-toggle-rounded is-success">
                                <div class="icon">
                                    <i class="fab fa-instagram has-text-white"></i>
                                </div>
                            </button>
                        </div>

            
                    </div>
                </div>


                <div class="cell">

                    <div class="content">
                        <h5 class="has-text-success has-text-weight-medium">Adresse Us</h2>
                        <p>
                            A small river named Duden flows by <br>
                            their place and supplies it with the <br> 
                            necessary regellalia
                        </p>

                        <div>
                            <button class="button  is-outline  is-toggle-rounded is-success">
                                <div class="icon has-icons-left">
                                    <i class="fab fa-twitter has-text-white"></i>
                                </div>
                            </button>
                            <button class="button  is-outline  is-toggle-rounded is-success">
                                <div class="icon">
                                    <i class="fab fa-facebook-f has-text-white"></i>
                                </div>
                            </button>
                            <button class="button  is-outline  is-toggle-rounded is-success">
                                <div class="icon">
                                    <i class="fab fa-instagram has-text-white"></i>
                                </div>
                            </button>
                        </div>

            
                    </div>
                </div>
                
            </div>

        </div>

        <p class="has-text-white">
            This webISte desing by Boaz kalonji 
        </p>
    </footer>



  

</html>