{% extends 'base.html' %}
{% load static %}




{% block titre %}

    SING UP

{% endblock %}



{% block content %}



    <section class="section">


        <div class="container">

            <h1 class="has-text-success has-text-centered is-size-3 has-text-weight-semibold my-5">
                Creation Compte
            </h1>

            <form action="" method="post">

                {% csrf_token %}

                <div class="control has-icons-left mb-5">

                    <input required type="text" class="input has-background-white-bis " placeholder="name" name="nom">

                    <span class="icon is-medium is-left has-text-success">
                        <i class="fas fa-user"></i>
                    </span>

                </div>

                <div class="control has-icons-left mb-5">

                    <input required type="password" class="input has-background-white-bis " placeholder="mot de passe" name="mdp">

                    <span class="icon is-medium is-left has-text-success">
                        <i class="fas fa-envelope"></i>
                    </span>

                </div>


                <div class="control has-icons-left mb-5">

                    <input required type="text" class="input has-background-white-bis " placeholder="postnom" name="postnom">

                    <span class="icon is-medium is-left has-text-success">
                        <i class="fas fa-solid fa-unlock"></i>
                    </span>

                </div>


                <div class="control has-icons-left mb-5">

                    <input type="text" class="input has-background-white-bis " placeholder="prenom" name="prenom">

                    <span class="icon is-medium is-left has-text-success">
                        <i class="fas fa-solid fa-unlock"></i>
                    </span>

                </div>


                <div class="control has-icons-left mb-5">

                    <input type="email" class="input has-background-white-bis " placeholder="Email" name="email">

                    <span class="icon is-medium is-left has-text-success">
                        <i class="fas fa-solid fa-unlock"></i>
                    </span>

                </div>

                <input type="submit" class="has-text-centered button is-success has-text-white" value="Sing up">

            </form>



        </div>


    </section>


{% endblock %}